@font-face{
	font-family:"montserratLight";
	src:url("fonts/Montserrat-Light.ttf");
}
@font-face{
	font-family:"montserratBold";
	src:url("fonts/Montserrat-Medium.ttf");
}
::-webkit-scrollbar{
	display:none;
}
body{
	-ms-overflow-style:none;
	font-family:"montserratLight";
	margin:0;
	outline:none;
	overflow:hidden;
	padding:1em;
	scrollbar-width:none;
	user-select:none;
}
#main{
	height:calc(100vh - 4em);
	overflow-x:hidden;
	overflow-y:scroll;
	padding:1em;
}
#footer{
	background-color:#fff;
	bottom:1em;
	font-size:.75em;
	padding-top:.5em;
	position:absolute;
	width:calc(100% - 4em);
}
#photos{
	margin:4px;
}
#photos .heading{
	position:relative;
	top:-4px;
}
.sourceInformation{
	display:block;
	font-size:.5em;
	left:40px;
	position:relative;
}
img{
	border-radius:20px;
	height:200px;
	margin:-2px 2px 2px 2px;
}
a{
	text-decoration:none;
}
a:visited{
	color:#00f;
}
#title{
	font-size:3em;
}
#title,.heading{
	font-family:"montserratBold";
}
.list{
	left:20px;
	position:relative;
}
.link{
	color:#33f;
	cursor:pointer;
	transition:padding-left .2s;
}
.link:hover{
	padding-left:10px;
}
.visited{
	color:#c2c;
}
.nolink{
	color:#f33;
}
/*	Mobile inclusions
*/
@media only screen and (max-width:600px){
	.link:hover{
		padding-left:0;
	}
}
/*	Desktop inclusions
*/
@media only screen and (min-width:600px){
}