@font-face{
	font-family:UbuntuSans;
	src:url(fonts/UbuntuSans-Regular.ttf);
}
@font-face{
	font-family:UbuntuSansBold;
	src:url(fonts/UbuntuSans-SemiBold.ttf);
}
*{
	border-radius:.5em;
	outline:none;
	transition:.25s;
}
*[href]{
	padding:0 .5em;
}
*[onclick]{
	cursor:pointer;
}
*[onclick]:hover{
	opacity:.5;
}
body{
	font-family:UbuntuSans;
	overscroll-behavior:none;
	>#create-person{
		display:inline-block;
		font-size:1.2em;
		padding:0 .5rem;
		user-select:none;
	}
	>#persons{
		>details{
			display:block;
			margin-left:0;
			>summary{
				padding:.25em;
			}
		}
		>details[open]{
			background:#f7f7f7;
			padding-bottom:.5rem;
			>summary{
				padding-top:.5rem;
			}
		}
	}
}
details{
	margin-left:1rem;
	>*{
		margin-left:2rem;
	}
	>summary{
		cursor:pointer;
		display:flex;
		flex-direction:column;
		font-family:UbuntuSansBold;
		list-style:none;
		margin-left:1rem;
		position:relative;
		user-select:none;
		>.name{
			align-items:baseline;
			display:flex;
			>.alias{
				font-size:.75em;
				opacity:.66;
				padding-left:.5em;
			}
		}
	}
	>summary:before{
		content:'\00B7';
		position:absolute;
		left:-.5em;
		pointer-events:none;
	}
}
details[open]+details[open]{
	margin-bottom:.1rem;
	margin-top:.1rem;
}
details[open]>summary:before{
	content:'';
}
details:has(>summary:last-child){
	opacity:.33;
	pointer-events:none;
}
details:has(>summary:hover){
	background:#eee!important;
	margin-bottom:.1rem;
}
details:not([open]):has(>summary:hover){
}
html{
	scroll-behavior:smooth;
}
strong{
	font-family:UbuntuSansBold;
	user-select:none;
}