:root{
	--red:#f44336;
	--green:#04aa6d;
}
::-webkit-scrollbar{
	display:none;
}
*{
	box-sizing:border-box;
	outline:none;
	transition:.25s;
}
@font-face{
	font-family:UbuntuSans;
	src:url(fonts/UbuntuSans-Regular.ttf);
}
@font-face{
	font-family:UbuntuSansBold;
	src:url(fonts/UbuntuSans-SemiBold.ttf);
}
body{
	background:#eee;
	display:flex;
	flex-direction:column;
	font-family:UbuntuSans;
	margin:0;
	height:100vh;
	overscroll-behavior:none;
	>#banner{
		background:white;
		border-bottom:1px solid #aaa;
		padding:1rem 0;
		>div{
			padding:.25rem 5vw;
		}
		>#name{
			font-size:2.5em;
			>div{
				display:inline-block;
			}
			>#given:empty:before,
			>#family:empty:before{
				content:'['attr(id)']';
			}
		}
	}
	>#content{
		display:flex;
		flex:1;
		gap:1rem;
		margin:0 auto 4rem;
		width:90vw;
		>.content-column{
			flex:1;
			>div{
				background:white;
				border-radius:.5rem;
				border:1px solid #aaa;
				margin-top:1rem;
				padding:1.4rem 1rem 2rem;
				position:relative;
				>.relation-type:not(:first-child){
					margin-top:.5rem;
				}
			}
			>div:before{
				content:attr(id);
				font-family:UbuntuSansBold;
				font-size:1.2em;
				position:relative;
				top:-.6rem;
			}
			>div:empty{
				padding-bottom:2rem;
			}
			>div:empty:after{
				content:'There are no records.';
				display:block;
			}
		}
	}
}
details{
	>summary{
		cursor:pointer;
		font-family:UbuntuSansBold;
		user-select:none;
	}
	>div{
		margin-left:1.5rem;
	}
}
details:has(summary:only-child){
	pointer-events:none;
	>summary{
		list-style:none;
	}
}
div[onclick]{
	border-radius:.5rem;
	border:1px solid transparent;
	color:#33f;
	cursor:pointer;
	transition:.25s;
	user-select:none;
}
div[onclick]:hover{
	background:#eee;
	border:1px solid #aaa!important;
}
strong{
	font-family:UbuntuSansBold;
	user-select:none;
}
subtle{
	opacity:.5;
}
.hover-move{
	padding-left:1rem;
	padding-right:1rem;
}
.hover-move:hover{
	padding-left:1.5rem;
	padding-right:.5rem;
}
@keyframes move-right{
	0%{
		padding-left:1rem;
		padding-right:1rem;
	}
	100%{
		padding-left:1.5rem;
		padding-right:.5rem;
	}
}