@media only screen and (max-width:600px) {
	#card{
		padding:40px 0 0 5vw;
		width:95vw;
	}
}
@media only screen and (min-width:600px) {
	#card{
		border:1px solid #000;
		height:85vh;
		left:50%;
		padding:40px 2vw 2vh 2vw;
		position:absolute;
		top:50%;
		transform:translate(-50%,-50%);
		width:40vw;
	}
}
#card{
	overflow-y:scroll;
}
body{
	font-family:"Montserrat",sans-serif;
	font-optical-sizing:auto;
	font-weight:300;
	font-style:normal;
	outline:none;
	user-select:none;s
}
img{
	border-radius:20px;
	height:200px;
	margin-top:-4px;
	margin-left:-1px;
}
#footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:20px;
	overflow-x:scroll;
}
#title{
	font-size:36px;
}
#title,.heading{
	font-weight:500;
}
.unavailable{
	color:#aaa;
	pointer-events:none;
}
.list{
	left:20px;
	position:relative;
}
.link{
	color:#33f;
	cursor:pointer;
	transition:padding-left .2s;
}
.visited{
	color:#c2c;
}
.link:hover{
	padding-left:10px;
}
.nolink{
	color:#f33;
}