::-webkit-scrollbar{
	display:none;
}
*{
	box-sizing:border-box;
	interpolate-size:allow-keywords;
	outline:none;
	overscroll-behavior:none;
}
@font-face{
	font-family:UbuntuSans;
	src:url(fonts/UbuntuSans-Regular.ttf);
}
@font-face{
	font-family:UbuntuSansBold;
	src:url(fonts/UbuntuSans-SemiBold.ttf);
}
body{
	background-blend-mode:overlay;
	background:#eee;
	display:flex;
	flex-direction:column;
	font-family:UbuntuSans;
	font-size:1.75vmin;
	gap:4vmin;
	margin:20vmin 5vmin 0;
	user-select:none;
	>.section{
		background:white;
		border-radius:0 2vmin 2vmin 2vmin;
		box-shadow:
			0 0 0 .1vmin #ddd,
			0 0 0 .2vmin white,
			0 0 0 .3vmin #ddd;
		padding:3vmin 3vmin 0;
		position:relative;
		transition:.25s;
		>.content{
			display:flex;
			flex-wrap:wrap;
			gap:2vmin;
			justify-content:center;
			overflow-y:hidden;
			padding-bottom:3vmin;
			transition:.25s;
		}
		>.section-actions{
			opacity:0;
			position:absolute;
			right:100%;
			top:-3vmin;
			transition:.25s;
			>div{
				cursor:pointer;
				font-size:2vmin;
				opacity:.25;
				padding:.5vmin 1.25vmin;
				position:relative;
				transition:.25s;
				text-align:center;
			}
			>div:before{
				background:white;
				border-radius:.5vmin;
				box-shadow:0 0 3vmin -.5vmin black;
				content:attr(tooltip);
				font-size:1.75vmin;
				left:110%;
				opacity:0;
				padding:.5vmin 1vmin;
				pointer-events:none;
				position:absolute;
				top:50%;
				transition:.25s;
				translate:0 -50%;
				white-space:nowrap;
			}
			>div:after{
				border-bottom:5px solid transparent;
				border-right:5px solid white;
				border-top:5px solid transparent;
				content:'';
				height:0;
				opacity:0;
				pointer-events:none;
				position:absolute;
				right:-10%;
				top:50%;
				transition:.25s;
				translate:0 -50%;
				white-space:nowrap;
				width:0;
			}
			>div:hover,
			>div:hover:before,
			>div:hover:after{
				opacity:1;
			}
			>.collapse{
				>div{
					rotate:180deg;
					transition:.25s;
				}
			}
		}
	}
	>.section:hover{
		>.section-actions{
			opacity:1;
		}
	}
	>.section:before{
		background:white;
		border-bottom:none;
		border-radius:2vmin 2vmin 0 0;
		bottom:calc(100% - .42vmin);
		box-shadow:
			0 0 0 .1vmin #ddd,
			0 0 0 .2vmin white,
			0 0 0 .3vmin #ddd;
		clip-path:polygon(
			-.4vmin -.4vmin,
			calc(100% + .4vmin) -.4vmin,
			calc(100% + .4vmin) calc(100% - .4vmin - .4vmin),
			calc(100% + .4vmin - .4vmin) calc(100% - .4vmin),
			-.4vmin calc(100% - .4vmin));
		content:attr(id);
		left:0;
		padding:.5vmin 1vmin;
		position:absolute;
	}
	>.section.closed{
		margin-bottom:-7.75vmin;
		>.section-actions{
			>div:not(:first-child){
				display:none;
			}
			>.collapse{
				>div{
					rotate:90deg;
				}
			}
		}
		>.content{
			height:5vmin!important;
		}
	}
	>#summary{
		position:relative;
		>.content{
			>div{
				flex:1;
			}
			>#core{
				display:flex;
				flex-direction:column;
				padding:9vmin 0 2vmin;
				>#images{
					aspect-ratio:1;
					background:#ddd;
					border-radius:2vmin;
					bottom:100%;
					left:50%;
					position:absolute;
					translate:-50%+50%;
					width:18vmin;
				}
				>#name{
					font-size:3.5vmin;
					margin:auto;
					text-wrap-mode:nowrap;
					user-select:text;
				}
			}
		}
	}
	>#relations{
		>.content{
			>.relations{
				position:relative;
				text-wrap-mode:nowrap;
				width:fit-content;
				>.banner{
					color:#f33;
					margin-left:1.5vmin;
				}
				>.banner[onclick]{
					color:#33f;
					cursor:pointer;
					opacity:1;
				}
				>.banner[onclick]:before{
					color:black;
					content:'\29CB';
					left:0;
					opacity:0;
					pointer-events:none;
					position:absolute;
					rotate:90deg;
					transition:.25s;
				}
				>.banner[onclick]:hover:before{
					opacity:1;
				}
			}
			>.relations:before{
				content:attr(before);
				font-family:UbuntuSansBold;
			}
		}
	}
	>#modal-container{
		backdrop-filter:brightness(.75);
		height:100%;
		left:0;
		position:fixed;
		top:0;
		transition:.25s;
		width:100%;
		>#modal{
			background:white;
			border-radius:2vmin;
			box-shadow:
				0 0 0 .1vmin #ddd,
				0 0 0 .2vmin white,
				0 0 0 .3vmin #ddd;
			left:50%;
			padding:1.5vmin 3vmin 2vmin;
			position:absolute;
			top:30%;
			translate:-50%-50%;
			>.title{
				font-family:UbuntuSansBold;
				font-size:3vmin;
				translate:-.45vmin;
			}
			>#persons{
				background:#f6f6f6;
				border-bottom:1px solid black;
				border-top:1px solid black;
				color:red;
				height:20vmin;
				margin:3vmin 0 1vmin;
				overflow-y:scroll;
				>div{
					cursor:pointer;
					padding-left:2vmin;
					position:relative;
					transition:color .25s;
					white-space:nowrap;
				}
				>div:before{
					color:black;
					content:'\29CB';
					left:1px;
					opacity:0;
					pointer-events:none;
					position:absolute;
					rotate:90deg;
					transition:opacity .25s;
				}
				>div:hover:before{
					opacity:1;
				}
				>.related{
					color:green;
				}
			}
			>#persons:before{
				color:black;
				content:'Persons ('attr(childCount)')';
				font-family:UbuntuSansBold;
				font-size:2vmin;
				position:absolute;
				translate:0 -3vmin;
			}
			>.buttons{
				display:flex;
				gap:1vmin;
				justify-content:flex-end;
				>div{
					border-radius:1vmin;
					color:white;
					cursor:pointer;
					opacity:.75;
					padding:1vmin 2vmin;
				}
				>div:hover{
					opacity:1;
				}
				>.revert{
					background:#f44336;
				}
				>.save{
					background:#04aa6d;
				}
			}
		}
	}
}
select{
	border:none;
}
.inline-container{
	>div{
		color:black;
		display:inline-block;
	}
	>div:not([hidden]){
		font-size:1vmin;
		margin-right:.5vmin;
	}
}
.lifespan{
	color:initial;
	font-size:1vmin;
	margin-left:1vmin;
}